<footer class="footer text-center text-sm-left text-muted">
    Copyright &copy; 2022 - 2023 UNOC. All rights reserved. <span class="text-muted d-none  float-right">Crafted with UNOC by </span>
</footer>
